@page
@model OceanicBooking.Models.Login.IndexModel
@{
   // ViewData.Model.UserName= "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a>Login Page</a>.</p>
    <a href="/api/Home">Go to Home</a>
</div>