@page
@Model OceanicBooking.Models.Home.HomeViewModel

<script>
    function download(filename, text) {
        console.write("HERE");
        var pom = document.createElement('a');
        pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
        pom.setAttribute('download', filename);

        if (document.createEvent) {
            var event = document.createEvent('MouseEvents');
            event.initEvent('click', true, true);
            pom.dispatchEvent(event);
        }
        else {
            pom.click();
        }
        window.location.replace("api/Home");
    }
</script>
<div class="text-center">
    <p><a>Downloading</a></p>

</div>Home