<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Home page</title>
    <button onclick="Logout()">Logout</button>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p><a>Home Page</a>.</p>
        <a href="/api/Booking">Go Book something</a>
    </div>Home
    <table>
        for (let i = 0; i < lastWeek.length; i++) {
        <tr>
            <td>lastWeek.Id</td>
            <td>lastWeek.Date</td>
            <td>lastWeek.Origin</td>
            <td>lastWeek.Destination</td>
            <td>lastWeek.Price</td>
            <td>lastWeek.Time</td>
            <td>lastWeek.Weight</td>
            <td>lastWeek.Dimension</td>
            <td>lastWeek.Category</td>
        </tr>
        }
    </table>
    <button onclick="ExportParcels()">Export Parcels</button>
    <button onclick="AddParcels()">add Parcels</button>
    <p>
        Size dimensions prices<br />
        Dimension A Dimension B Dimension C<br />

    </p>
</body>
</html>
