@page
@model OceanicBooking.Models.Login.IndexModel
@{
    // ViewData.Model.UserName= "Home page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OceanicBooking.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">OceanicBooking</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login/Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="text-center">
            <h1 class="display-4">Parcel deliveries</h1>
        </div>
        <table id="parcelDeliveryTable" width="100%" class="table_margin">
            <tr>
                <td>
                </td>
                <td>
                    <label>Date</label>
                </td>
                <td>
                    <label>OriginId</label>
                </td>
                <td>
                    <label>DestinationId</label>
                </td>
                <td>
                    <label>Time</label>
                </td>
                <td>
                    <label>Weight</label>
                </td>
                <td>
                    <label>Length</label>
                </td>
                <td>
                    <label>Height</label>
                </td>
                <td>
                    <label>Category</label>
                </td>
            </tr>
        </table>
        <div>
            <div class="align-right">
                <button>Export parcels</button>
                <button>Add parcels</button>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - OceanicBooking - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
    (async function InitParcelDeliveries() {
        var parcelDeliveriesTable = document.getElementById("parcelDeliveryTable");
        var i = 0;

        let jsonData = {
            "method": "GET",
            "headers": {
                "Content-Type": "application/JSON"
            }
        };
        const parcelDeliveryData = await fetch('/api/Home/GetParcelDeliveries', jsonData).
            then(response => response.json()).
            then(bookings => { return bookings });

        parcelDeliveryData.forEach(item => {
            var row = parcelDeliveriesTable.insertRow(-1);
            var cell0 = row.insertCell(0);
            var cell1 = row.insertCell(1);
            var cell2 = row.insertCell(2);
            var cell3 = row.insertCell(3);
            var cell4 = row.insertCell(4);
            var cell5 = row.insertCell(5);
            var cell6 = row.insertCell(6);
            var cell7 = row.insertCell(7);
            var cell8 = row.insertCell(8);
            cell1.innerHTML = item.requestedAtDate
            cell2.innerHTML = item.fromCityId
            cell3.innerHTML = item.toCityId
            cell4.innerHTML = item.deliveryTime
            cell5.innerHTML = item.weight
            cell6.innerHTML = item.length
            cell7.innerHTML = item.height
            if (item.containsCautionsGoods) {
                cell8.innerHTML = "Cautious goods";
            } else if (item.containsWeapons) {
                cell8.innerHTML = "Weapons";
                var weaponCell = parcelDeliveriesTable.getElementsByTagName("td");
                    cell8.style.backgroundColor = "red";
                    
                } else if (item.isRefrigerated) {
                cell8.innerHTML = "Refrigerated";
            }
            
        });

    })()
    
</script>
</body>