@page
@model OceanicBooking.Models.Login.IndexModel
@{
    // ViewData.Model.UserName= "Home page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OceanicBooking.styles.css" asp-append-version="true" />
</head>
<script>
    // NOT WORKING

    function AddItemRowForTable(item) {
        console.log(item);
    }

    (async function InitParcelDeliveries() {
        const parcelDeliveriesTable = document.getElementById("parcelDeliveryTable");
        var data = [];

        let jsonData = {
            "method": "GET",
            "headers": {
                "Content-Type": "application/JSON"
            }
        };
        const parcelDeliveryData = await fetch('/api/Home/GetParcelDeliveries', jsonData).
            then(response => response.json()).
            then(bookings =>{ return bookings});
        
        console.log(parcelDeliveryData);
        console.log(data);

        
        parcelDeliveryData.forEach(item => {
            AddItemRowForTable(item)
        });
        
        })()

    
</script>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">OceanicBooking</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login/Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="text-center">
            <h1 class="display-4">Parcel deliveries</h1>
        </div>
        <table id="confirmation" width="100%" class="table_margin">
            <tr>
                <td>
                </td>
                <td>
                    <label for="route">Route</label>
                </td>
                <td>
                    <label for="price">Price</label>
                </td>
                <td>
                    <label for="time">Time</label>
                </td>
                <td>
                    <label for="weight">Weight (kg)</label>
                </td>
                <td>
                    <label for="length">Length (cm)</label>
                </td>
                <td>
                    <label for="width">Width (cm)</label>
                </td>
                <td>
                    <label for="height">Height (cm)</label>
                </td>
                <td>
                    <label for="category">Category</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="parcel">Parcel 1</label>
                </td>
                <td>
                    Hej
                </td>
                <td>
                    Fravel
                </td>
                <td>
                    Hej
                </td>
                <td>
                    Hej
                </td>
                <td>
                    Farvel
                </td>
                <td>
                    Hej
                </td>
                <td>
                    Farvel
                </td>
                <td>
                    Hej
                </td>
            </tr>
        </table>
        <div>
            <table id="booking">
                <tr>
                    <td>
                    </td>
                    <td>
                        <label for="origin">Dimension</label>
                    </td>
                    <td>
                        <label for="origin">Origin</label>
                    </td>
                    <td>
                        <label for="destination">Destination</label>
                    </td>
                </tr>
                <tr>
                    <form method="post" action="">
                    <td>
                        <label for="less">Less than 1 kg</label>
                    </td>
                    <td>
                        <input type="text" id="origin" name="origin" required
                               minlength="1" maxlength="100">
                    </td>
                    <td>
                        <input type="text" id="destination" name="destination" required
                               minlength="1" maxlength="100">
                    </td>
                    <td>
                        <input type="number" id="weight" name="weight" required
                               minlength="0" maxlength="100">
                    </td>
                    </form>
                </tr>
                <tr>
                    <form method="post" action="">
                    <td>
                        <label for="between">Between 1 and 5 kg</label>
                    </td>
                    <td>
                        <input type="text" id="origin" name="origin" required
                               minlength="1" maxlength="100">
                    </td>
                    <td>
                        <input type="text" id="destination" name="destination" required
                               minlength="1" maxlength="100">
                    </td>
                    <td>
                        <input type="number" id="weight" name="weight" required
                               minlength="0" maxlength="100">
                    </td>
                    </form>
                </tr>
                <tr>
                    <form method="post" action="">
                    <td>
                        <label for="more">More than 5 kg</label>
                    </td>
                    <td>
                        <input type="text" id="origin" name="origin" required
                               minlength="1" maxlength="100">
                    </td>
                    <td>
                        <input type="text" id="destination" name="destination" required
                               minlength="1" maxlength="100">
                    </td>
                    <td>
                        <input type="number" id="weight" name="weight" required
                               minlength="0" maxlength="100">
                    </td>
                    </form>
                </tr>
            </table>
            <div class="align-right">
                <button>Export parcels</button>
                <button>Add parcels</button>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - OceanicBooking - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>